.Rproj.user
.Rhistory
.RData
.Ruserdata
raw-data/count_objects/*
raw-data/FASTQ/*
processed-data/*
!processed-data/Supplementary_Tables/
!raw-data/sample_metadata_and_QCmetrics.csv
!raw-data/covariate_sample_info.xlsx
!raw-data/rat_behavioral_data.csv
.DS_Store
