.Rproj.user
.Rhistory
.RData
.Ruserdata
raw-data/count_objects/*
processed-data/03_Data_preparation/
processed-data/04_EDA/
processed-data/07_MAGMA/Input_Gene_Sets/
processed-data/07_MAGMA/Input_GWAS_data/
processed-data/07_MAGMA/geneloc/
processed-data/08_GSEA/

!raw-data/sample_metadata_and_QCmetrics.csv
!raw-data/covariate_sample_info.xlsx
!raw-data/rat_behavioral_data.csv
.DS_Store
